<div class="card">
  <div class="card-body">
    <h5 class="card-title">Usuarios</h5>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="tipoPersona" class="form-label">Tipo Persona :</label>
                        <select id="tipoPersona" class="form-select">
                            <option>Natural</option>
                            <option>Juridica</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="tipoDocumento" class="form-label">Tipo Documento :</label>
                        <select id="tipoDocumento" class="form-select">
                            <option>Cedula</option>
                            <option>Extrangeria</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="identificacion" class="form-label">Identificacion :</label>
                        <input type="text" class="form-control" id="identificacion">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="razonSocial" class="form-label">Razon Social :</label>
                        <input type="text" class="form-control" id="razonSocial">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <label for="primerNombre" class="form-label">Primer Nombre :</label>
                        <input type="text" class="form-control" id="primerNombre">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="otrosNombres" class="form-label">Otros Nombres :</label>
                        <input type="text" class="form-control" id="otrosNombres">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="primerApellido" class="form-label">Primer Apellido :</label>
                        <input type="text" class="form-control" id="primerApellido">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="otrosApellidos" class="form-label">Otros Apellidos :</label>
                        <input type="text" class="form-control" id="otrosApellidos">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <label for="genero" class="form-label">Genero :</label>
                            <select id="genero" class="form-select">
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono :</label>
                        <input type="text" class="form-control" id="telefono">
                    </div>
                </div>
                 <div class="col-3">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email :</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                 </div>
                 <div class="col-3">
                    <div class="mb-3">
                        <label for="ciudad" class="form-label">Ciudad :</label>
                        <select id="ciudad" class="form-select">
                            <option>Bogota</option>
                            <option>Chia</option>
                        </select>
                    </div>
                 </div>
            </div>
























            <div class="mb-3">
                <label for="password" class="form-label">Password :</label>
                <input type="password" class="form-control" id="password">
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>
            <button type="button" class="btn btn-secondary">Actualizar</button>
            <button type="button" class="btn btn-warning">Cambiar Password</button>
            <button type="button" class="btn btn-danger">Bloquear</button>
            </form>
    </div>
  </div>
</div>