<div id="form" class="card">
  <div class="card-body">
    <div class="row justify-content-center text-center">
         <h3 bu class="card-title">USUARIOS</h3>
         <button type="button" [ngClass]="{'btn':true,'btn-light':statusUser === 'Pendiente', 'btn-success': statusUser === 'Activo' , 'btn-danger': statusUser === 'Inactivo' }">{{statusUser}}</button>
    </div>
    <div class="card-body">
        <form [formGroup]="EditForm" (ngSubmit)="createUser()">
            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                    <label for="identificacion" class="form-label">Identificacion :</label>
                    <input formControlName="identificacion" type="text" class="form-control" id="identificacion" (blur)="getUser()">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="tipoPersona" class="form-label">Tipo Persona :</label>
                        <select
                        formControlName="tipo_persona"
                        id="tipoPersona"
                        class="form-select"
                        >
                        <option *ngFor="let tipo of tiposPersona" [ngValue]="tipo['CODIGO']">{{tipo['VALOR']}}</option>

                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="tipo_identificacion" class="form-label">Tipo Documento :</label>
                        <select
                        formControlName="tipo_identificacion"
                        id="tipo_identificacion"
                        class="form-select">
                          <option *ngFor="let tipo of tiposDocumento" [ngValue]="tipo['CODIGO']">{{tipo['PARAMETROS']}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="razon_social" class="form-label">Razon Social :</label>
                        <input
                        formControlName="razon_social"
                        type="text"
                        class="form-control" id="razon_social">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <label for="nombre1" class="form-label">Primer Nombre :</label>
                        <input
                        formControlName="nombre1"
                        type="text"
                        class="form-control" id="nombre1">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="nombre2" class="form-label">Otros Nombres :</label>
                        <input
                        formControlName="nombre2"
                        type="text"
                        class="form-control" id="nombre2">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="apellido1" class="form-label">Primer Apellido :</label>
                        <input
                        formControlName="apellido1"
                        type="text"
                        class="form-control" id="apellido1">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="apellido2" class="form-label">Otros Apellidos :</label>
                        <input
                        formControlName="apellido2"
                        type="text"
                        class="form-control" id="apellido2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <label for="genero" class="form-label">Genero :</label>
                            <select formControlName="genero" id="genero" class="form-select">
                                <option *ngFor="let tipo of tiposGenero" [ngValue]="tipo['CODIGO']">{{tipo['PARAMETROS']}}</option>
                            </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono :</label>
                        <input
                        formControlName="telefono"
                        type="text"
                        class="form-control" id="telefono">
                    </div>
                </div>
                 <div class="col-3">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email :</label>
                        <input
                        formControlName="email"
                        type="email"
                        class="form-control" id="email">
                    </div>
                 </div>
                 <div class="col-3">
                    <div class="mb-3">
                        <label for="ciudad" class="form-label">Ciudad :</label>
                        <select formControlName="ciudad" id="ciudad" class="form-select">
                          <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad['CODIGO']">{{ciudad['DANE']}}-{{ciudad['CIUDAD']}}</option>
                        </select>
                    </div>
                 </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                  <div class="mb-3">
                    <label for="id_rol" class="form-label">Rol :</label>
                    <select formControlName="id_rol" id="id_rol" class="form-select">
                      <option *ngFor="let rol of roles" [ngValue]="rol['ID_ROL']">{{rol['NOMBRE_ROL']}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-3" *ngIf="passInput">
                  <div class="mb-3">
                    <label for="pass" class="form-label">Password :</label>
                    <input formControlName="pass" type="password" class="form-control" id="pass">
                  </div>
                </div>
            </div>
            <div class="row justify-content-center text-center">
              <button type="submit" class="btn btn-outline-primary m-1" [disabled]="createButton">Crear</button>
              <button type="button" (click)="updateUser()" class="btn btn-outline-secondary m-1">Actualizar</button>
              <button type="button" (click)="openChangePass()" class="btn btn-outline-warning m-1">Cambiar Password</button>
              <button type="button" (click)="stsUser()" [ngClass]="{'btn': true, 'btn-outline-success': statusButton == 'Activar','btn-outline-danger': statusButton == 'Inactivar','m-1': true}">{{statusButton}}</button>
            </div>
        </form>
    </div>
  </div>
</div>
