<div class="container-fluid">
    <div class="card">
        <div class="card-body">

            <h5 *ngIf="titulo != null" class="card-title">{{titulo}}</h5>
            <div *ngIf="titulo === null" class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Titulo</label>
                    <input [(ngModel)]="titulo" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-check form-switch">
                <input [(ngModel)]="estado" class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
                <label class="form-check-label" for="switchCheckChecked">Estado :</label>
            </div>
            <hr>
              <table class="table">
                <thead>
                    <tr>
                        <th class="bg-primary text-white" scope="col"><button
                            class="btn btn-primary"
                            >{{datatable.headerRows['Titulo']}}
                            </button></th>
                        <th class="bg-primary text-white" scope="col"><button
                            class="btn btn-primary"
                            >{{datatable.headerRows['Permisos']}}
                            </button></th>
                    </tr> 
                </thead>
        <tbody>
          <tr *ngFor="let row of datatable.dataRows; let i = index" class="font11">
            <td>{{row.titulo}}</td>
            <td> 
                <div *ngFor="let per of row.idAction; let e = index">
                    <div class="form-check form-switch">
                        <input [(ngModel)]="per.status" 
                                (change)="updatePermiso(row.idMenu, per.codigo, per.status)" 
                                class="form-check-input" 
                                type="checkbox" 
                                role="switch" 
                                [id]="'check-' + i + '-' + e"
                                [name]="'check-' + i + '-' + e"
                        >
                        <label class="form-check-label" 
                               [for]="'check-' + i + '-' + e">
                               {{per.valor}}
                        </label>
                    </div>
                </div>
            </td>
            </tr>
         </tbody>
      </table>
        <button (click)="guardarRol()"  class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
