<div class="container-fluid">
    <div class="container">
<nav class="navbar navbar-expand-lg bg-body-dark text-bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
      <li *ngFor="let menu of menus" class="nav-item dropdown mt-2">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="menu.PATH_URL">
                   <i class="{{menu.ICONO}}"></i>
                    {{menu.TITULO}}
                  </a>
               <ul *ngIf="menu.subMenus.length > 0" class="dropdown-menu">
                  <li *ngFor="let subMenu of menu.subMenus "><a class="dropdown-item" [routerLink]="subMenu.PATH_URL">{{subMenu.TITULO}}</a></li>
               </ul>

       </li>
       <li>
          <div class="text-end mt-3">
          <button type="button" class="btn btn-warning m-1" (click)="closeSession()">Sign-up</button>
       </div>
       </li>
       </ul>
    </div>
  </div>
</nav>
</div>
</div>






